<p>interpolation works!</p>

<!-- Display property value indside HTML -->
<h2>Welcome {{name}}</h2>

<!-- Showing Expresions -->
<h2>{{2+2/4*5}}</h2>

<!-- Concatenation -->
<h2>{{ "Hello" + name}}</h2>

<!-- All the rendering through Interpolation stores the data in string -->
<h2>{{ "My age is: " + age  }}</h2>
<h2>{{ name + " " + age }}</h2>

<!-- We can use JavaScript properties and Methods -->
<h2>{{ name.length }}</h2>
<h2>{{ name.toLowerCase() }}</h2>
<h2>{{ name.toUpperCase() }}</h2>

<!-- We can use our custom methods -->
<h2>{{ helloMessgae() }}</h2>

<h2>{{ url }}</h2>