# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/new-app/FileContentIndex/2a466e02-2a04-4d90-91ec-4dc451edc700.vsidx
/.vs/new-app/FileContentIndex/0bedaba2-179e-4066-a617-ac67b5f378fc.vsidx
/.vs/new-app/FileContentIndex/304122a3-f635-414f-840c-0c57c6395dca.vsidx
/.vs/new-app/FileContentIndex/58c29ee3-bb1b-4b70-90de-6cc9f91a86fd.vsidx
/.vs/new-app/FileContentIndex/c0f05a19-545f-441c-b115-dd719c641bb9.vsidx
