<!-- <h2 class="myColor myWriting">LEARNING NEVER ENDS</h2> -->
<!-- <h2 [className]="'myColor myWriting'">LEARNING NEVER ENDS</h2>
<h2 [class]="'myColor myWriting'">LEARNING NEVER ENDS</h2> -->
<!-- <h2 class="myWriting" [className]="'myColor'">LEARNING NEVER ENDS</h2> -->
<!-- <h2 [className]="cssClass">LEARNING NEVER ENDS</h2> -->
<!-- <h2 [class.myColor]="condition">LEARNING NEVER ENDS</h2> -->
<!-- <h2 [class]="myCall()">LEARNING NEVER ENDS</h2> -->
<!-- <h2 [class]="condition ? 'myColor' : 'myWriting'">LEARNING NEVER ENDS</h2> -->
<h2 [class]="(5 > 0) ? 'myColor' : 'myWriting'">LEARNING NEVER ENDS</h2>