<!-- <h2 [style]="'background-color:yellow;'">I am Aakash</h2> -->
<!-- <h2 [style]="'backgroundColor:yellow;'">I am Aakash</h2> -->
<!-- <h2 [style]="'backgroundColor:yellow; color:red;'">I am Aakash</h2> -->
<!-- <h2 [style]="{'color':'orange', 'fontFamily':'cooper'}">I am Aakash</h2> -->
<!-- <h2 [style]="{'color':'orange', 'fontFamily':'cooper','font-size':'45px'}">I am Aakash</h2> -->
<!-- <h2 [style]="myStyles">I am Aakash</h2> -->
<!-- <h2 [style.color]="'orange'">I am Aakash</h2> -->
<!-- <h2 [style.fontSize.px]="'60'">I am Aakash</h2> -->
<!-- <h2
 [style.fontSize.px]="'60'"
[style.color]="'orange'" 
[style.fontStyle]="'italic '">I am Aakash</h2> -->
<h2 [style.color]="5>2 ? 'red' : ''">I am Aakash</h2>

<!-- Below code does not work for ngStyle -->
<!-- <h2 [ngStyle]="myStyles">I am Aakash</h2> -->